* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #606080;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
}

:root{
  font-size: 45%;
  --height_histo_formatTel: 25rem;
}
@media screen and (max-width: 450px) {
  :root{
    --TailleStandard:3vw;
  }
}

@media screen and (max-height: 750px) {
  :root{
    --TailleStandard:2.5vw;
  }
}

@media screen and (min-width: 370px) and (max-width: 450px) {
  :root{
    --TailleStandard:2.5vw;
    --height_histo_formatTel: 20rem;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #E3E3E8;

  position: relative;

  overflow: hidden;
}

@media screen and (max-width: 450px) {
  body {
    overflow-y: scroll;
  }
}
button{
  border: none;
  cursor: pointer;
}

.calculatrice {
  position: relative;

  width: 43rem;

  border-radius: 3rem;
}
.calculatrice_contain
{
  position: relative;

  width: 100%;

  padding: 2rem;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #F0F0F3;
  border-radius: inherit;

  z-index: 2;

  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.03);
}
@media screen and (max-width: 650px) and (min-width: 450px){
  .calculatrice
  {
    transform: translateX(-7.5rem);
  }
}
@media screen and (max-width: 450px) {
  .calculatrice
  {
    width: min-content;
    transform: translateY(calc(var(--height_histo_formatTel)/2));
  }
}
.bandeau{
  width: 100%;
  height: 4rem;
  margin-bottom: .5rem;

  display: flex;
  justify-content: space-between;
}
.bandeau > *{
  cursor: pointer;
  border-radius: 1rem;
}
#copie_btn{
  background-image: url("./copie.svg");
  background-size: 100%;
  width: 4rem;
  height: 4rem;
}
#historique_btn{
  background-image: url("./historique.svg");
  background-size: 100%;
  width: 5.2rem;
  height: 4rem;
}
#historique_btn.return
{
  background-image: url("./historique_return.svg");
}


.display {
  width: 100%;
  margin-bottom: 2rem;
  margin-right: -1rem;
  padding-right: 1rem;
  border: none;
  text-align: right;
  background-color: transparent;

  font-size: 5rem;
  height: 6rem;
  max-height: 3em; /* ajustez cette valeur en fonction de la taille de la police et de l'espacement des lignes */
  overflow-y: visible;
  white-space: pre-wrap; /* permet de passer à la ligne suivante si nécessaire */
}



:focus {
  outline: none;
}
::selection {
  background-color: transparent;
  color: inherit;
}

.boutons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: start; /* Ajouter cette ligne */
}

.boutons button {
  background-color: #E3E3E8;
  border-radius: 8rem;
  width: 8rem;
  height: 8rem;

  font-size: 3rem;
}

.boutons button:nth-child(4n+4), button.egal{
  width: 12rem;
}
.boutons button.zero {
  width: 17rem;
  grid-column: span 2;
}
button.egal{
  background-color: #606080;
  color: #F0F0F3;
}

@media screen and (max-width: 450px) {
  .boutons {
    grid-gap: calc(.5*var(--TailleStandard));
    width: min-content;
  }
  .boutons button {
    width: calc(6*var(--TailleStandard));
    height: calc(6*var(--TailleStandard));
    font-size: 3rem;
  }
  .boutons button:nth-child(4n+4), button.egal{
    width: calc(8*var(--TailleStandard));
  }
  .boutons button.zero {
    width: calc(12.5*var(--TailleStandard));
    grid-column: span 2;
  }
}


button:hover,
button.active,
#historique_btn,
#historique_delete,
#copie_btn
{
  cursor: pointer;
  filter: brightness(.95);
}
button.egal:hover, button.egal.active {
  filter: unset;
  background-color: #a1a1b5;
}

button:not(.active){
  transition: .2s;
}
#effacer{
  color: transparent;
  background-image: url("./effacer.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}


#copied{
  --dureeanim: .5s;
  position: absolute;
  bottom: -8rem;

  align-items: center;
  display: flex;
  gap: 1.5rem;

  padding: 1rem 2rem;
  border-radius: 2rem;

  background-color: #F0F0F3;
  box-shadow: 0 .5rem 2rem rgba(73, 73, 219, 0.1);

  transition: var(--dureeanim);
}
#copied .icon{
  background-image: url("./check.svg");
  background-size: 100%;
  width: 3rem;
  height: 3rem;
}

#copied p{
  color: #4949DB;
  font-size: 2rem;
  font-weight: 600;
}

#copied.copied-in {
  bottom: 4rem;
}

@media screen and (max-width: 450px) {
  #copied{
    bottom: unset;
    top: -8rem;
  }
  #copied.copied-in {
    bottom: unset;
    top: 4rem;
  }
}

#historique
{
  --width: 15rem;

  position: absolute;
  background: #F0F0F3;
  box-shadow: 0 .5rem 5rem rgba(0, 0, 0, 0);
  border-radius: 3rem;

  height: 100%;
  width: var(--width);

  top: 0;
  right: 1rem;

  display: none;
  flex-direction: column;
  gap: 3rem;

  padding: 1rem;

  overflow: hidden;

  transition: .5s;

  z-index: 1;

  transform: scale(.9);
}


#historique.show
{
  right: calc(-2rem - var(--width));
  box-shadow: 0 .5rem 5rem rgba(0, 0, 0, 0.05);
  transform: scale(1);
}
#historique.show-out
{
  display: flex;
}

@media screen and (max-width: 450px) {
  #historique
  {
    height:var(--height_histo_formatTel);
    width: 100%;
    top: 1rem;
    right: 50%;
    transform: translateX(50%) scale(.9) ;
  }
  #historique.show
  {
    right: 50%;;
    top: calc(-2rem - var(--height_histo_formatTel));
    transform: translateX(50%) scale(1) ;
  }
}





#historique.vide::after
{
  content: "(vide)";
  font-size: 2.5rem;
  opacity: .2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#historique_delete
{
  position: relative;
  
  background-image: url("./effacer_complet.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 13rem;
  height: 3.4rem;
  min-height: 3.4rem;
  border-radius: 2rem;
}

#historique_delete::after
{
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  content: "";
  width: 100%;
  height: .2rem;
  background-color: #E3E3E8;
}


#historique p
{
  font-size: 2rem;
  color: rgba(62, 201, 76, 0.6);

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: .2rem;

  width: 100%;

  overflow: hidden;
}
#historique p::after {
  content: '';
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-image: linear-gradient(to top, #F0F0F3 0%, #F0F0F3 10%, transparent 100%);
}
#historique p span
{
  position: relative;
  color: inherit;
  width: fit-content;

  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media screen and (max-width: 450px) {
  #historique.vide::after
  {
    content: "(vide)";
    font-size: 2.5rem;
    opacity: .2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 6.5rem), -50%);
  }
  #historique_delete::after
  {
    top: 0;
    right: -1rem;
    left: unset;
    height: calc(var(--height_histo_formatTel) - 2rem);
    width: .2rem;
  }
  #historique p
  {
    margin-left: 16rem;
    margin-top: -6rem;
    width: unset;
  }
  #historique p::after {
    bottom: 0;
    left: 16rem;
    width: calc(100%-16rem);
    height: 5rem;
    background-image: linear-gradient(to top, #F0F0F3 0%, #F0F0F3 40%, transparent 100%);
  }
}

.resultat_historique
{
  margin-left: 2rem;
  background: rgba(62, 201, 76, 0.1);
  border-radius: .5rem;
  padding: .2rem .4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.resultat_historique::after
{
  position: absolute;
  content: "=";
  left: -1.8rem;
  top: 50%;
  transform: translateY(-50%);
}
